.git
.github
.codex

node_modules
vendor/bundle
.bundle

log/*
tmp/*
!tmp/.keep

public/assets
storage/*
!storage/.keep

coverage
*.log

ImageMagick-7.1.0-60
ImageMagick.tar.gz
node-v6.9.2-linux-x64.tar.xz
