# Dependency directories
node_modules/
vendor/bundle/

# Logs
log/*
!log/.keep

# Runtime and cache files
tmp/*
!tmp/.keep

# Compiled/precompiled assets
public/assets/*
!public/assets/.keep

# Local env overrides
.env
config/.env
